name: Deploy App with Custom Action

on:
  workflow_dispatch:


permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: production

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get environment variables
        uses: Sumit007521/getEnvVars@feature/update
        with:
            env_name: "production"
            gh_token: ${{ vars.GH_TOKEN }}


      - name: Check Required Variables
        shell: bash
        run: |
          declare -A REQUIRED_VARS=(
            ["CI"]=${{ vars.CI }}
            ["NODE_ENV"]=${{ vars.NODE_ENV }}
            ["PORT"]=${{ vars.PORT }}
            ["REACT_APP_NAME"]=${{ vars.REACT_APP_NAME }}
            ["REACT_APP_DESCRIPTION"]=${{ vars.REACT_APP_DESCRIPTION }}
            ["REACT_APP_VERSION"]=${{ vars.REACT_APP_VERSION }}
            ["REACT_APP_PRICE"]=${{ vars.REACT_APP_PRICE }}
            ["REACT_APP_BUTTON_TITLE"]=${{ vars.REACT_APP_BUTTON_TITLE }}
            ["REACT_APP_PIZZA_DESCRIPTION"]=${{ vars.REACT_APP_PIZZA_DESCRIPTION }}
            ["REACT_APP_API_URL"]=${{ vars.REACT_APP_API_URL }}
            ["REACT_APP_API_KEY"]=${{ vars.REACT_APP_API_KEY }}
            ["REACT_APP_API_TIMEOUT"]=${{ vars.REACT_APP_API_TIMEOUT }}
            ["REACT_APP_ANALYTICS_ID"]=${{ vars.REACT_APP_ANALYTICS_ID }}
            ["REACT_APP_ENABLE_ERROR_REPORTING"]=${{ vars.REACT_APP_ENABLE_ERROR_REPORTING }}
            ["REACT_APP_SOCIAL_SHARING_URL"]=${{ vars.REACT_APP_SOCIAL_SHARING_URL }}
          )
          check_exit_status=0
          for ITEM in "${!REQUIRED_VARS[@]}"; 
          do
            if [ -z "${REQUIRED_VARS[${ITEM}]}" ]; then
              echo "Error: Environment variable '$ITEM' is not set."
              check_exit_status=1
            else
                echo "Environment variable '$ITEM' is set to '${REQUIRED_VARS[${ITEM}]}'"
            fi    
          done 
          exit $check_exit_status
            
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ env.NPM_TOKEN }}

      - name: Build React app
        run: ${{ env.BUILD_COMMAND }}

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./${{ env.BUILD_DIR }}

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
