name: Workflow to Export Environment Variables

on:
  workflow_dispatch:

jobs:
  build-package:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Get environment variables
      uses: Sumit007521/getEnvVars@feature/update
      with:
        env_name: "production"
        gh_token: ${{ vars.GH_TOKEN }}   

    - name: List Files
      shell: bash 
      run: ls

    - name: Upload environment variables
      uses: actions/upload-artifact@v4
      with:
        name: env_var
        path: |
            env_var.json 
            env_var.txt        